<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        {%- for link in linklists.main-menu.links -%}
        <li>
          <a class="nav-link" href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
          {%- if link.links != blank -%}
            <ul class="dropdown-menu">
              {%- for child_link in link.links -%}
                <li>
                  <a class="dropdown-item" href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                    {{ child_link.title }}
                  </a>
                  {%- if child_link.links != blank -%}
                    <ul>
                      {%- for grandchild_link in child_link.links -%}
                        <li>
                          <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                            {{ grandchild_link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

:{% schema %}
{
 "name": "Colors",
 "settings": [
   {
    "type": "color",
    "id": "header_background",
    "label": "Background Color for Header",
    "default": "#FFFFFF"
   },
   {
     "type": "color",
     "id": "header_color_text",
     "label": "Color Text Header",
     "default": "#212529"
   }
 ],
 "presets": [
   {
     "category": "Header",
     "name":"Color Header"
   }
 ]
}
{% endschema %}