<div class="container">
  {% paginate collection.products by 4 %}
  <div class="row my-5">
    <h1 class="text-center">{{ collection.title }}</h1>
  </div>
  <div class="row">
    {% for product in collection.products %}
    {% assign image = product.featured_media.preview_image %}
      <div class="col-3 g-2">
        <div class="card" style="width: 18rem;">
          {% if image != blank %}
              <img loading="lazy" src="{{ image | image_url }}" class="card-img-top" alt="{{ product.title}}">
          {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
          {% endif %}
          <div class="card-body">
          <h5 class="card-title"><a href="{{ product.url }}">{{ product.title }}</a></h5>
          <em>Create By {{ product.vendor }}</em>
          <strong class="d-block">{{ product.price | money }}</strong>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
</div>