<section class="container py-4">
    <h2>{{ section.settings.title }}</h2>
   <div class="row">
    {% for product in collections[section.settings.featured_collection].products %}
    {% assign image = product.featured_media.preview_image %}
       <div class="col">
        <div class="card" style="width: 18rem;">
            {% if image != blank %}
                <img loading="lazy" src="{{ image | image_url }}" class="card-img-top" alt="{{ product.title}}">
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}
            <div class="card-body">
            <h5 class="card-title"><a href="{{ product.url }}">{{ product.title }}</a></h5>
            <strong>{{ product.price | money }}</strong>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
       </div>
    {% endfor %}
   </div>
</section>


{% schema %}
{
    "name": "New Featured Collection",
    "class": "featured-collection-section",
    "settings": [
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Collection "
        }
    ],
    "presets": [
        {
            "category": "New Collection",
            "name":"New Featured Collection"
        }
    ]
}
{% endschema %}