<div class="container">
   <div class="row">
        <div class="col text-center">
            <h3>{{ page.title }}</h3>
        </div>
   </div>
   <div class="accordion accordion-flush" id="accordionFlushExample">
    {% for block in section.blocks %}
     <div class="accordion-item">
         <h2 class="accordion-header" id="collapse-header-{{ block.id }}">
         <button class="accordion-button collapsed bg-secondary bg-gradient text-white" 
         type="button" 
         data-bs-toggle="collapse" 
         data-bs-target="#collapse-{{ block.id }}" 
         aria-expanded="false" 
         aria-controls="{{ block.id }}">
             {{ block.settings.title }}
         </button>
         </h2>
         <div 
         id="collapse-{{ block.id }}" 
         class="accordion-collapse collapse" 
         aria-labelledby="collapse-header-{{ block.id }}" 
         data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">{{ block.settings.answer }}</div>
         </div>
     </div>
    {% endfor %}
   </div>
</div>

{% schema %}
{
    "name": "FAQ",
    "blocks": [
        {
            "name": "FAQ Items",
            "type": "faq",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "FAQ Title Example"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}